@tailwind base;
@tailwind components;
@tailwind utilities;

.light-glass {
  @apply bg-clip-padding bg-opacity-25 backdrop-filter backdrop-blur-2xl bg-white;
}

.dark-glass {
  @apply bg-clip-padding bg-opacity-40 backdrop-filter backdrop-blur-2xl bg-dark-900;
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url("/fonts/Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Bold Italic";
  src: url("/fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  src: url("/fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("/fonts/Ubuntu-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Medium Italic";
  src: url("/fonts/Ubuntu-MediumItalic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
  align-items: center;
}

.theme-provider {
  background-image: url("/landing-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  padding: 35px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
}

/* Add media query for smaller screens for smaller image maybe?*/
/* Transfer some of these classes to Tailwind duh */
