@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu Regular";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url("/fonts/Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Bold Italic";
  src: url("/fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  src: url("/fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("/fonts/Ubuntu-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Medium Italic";
  src: url("/fonts/Ubuntu-MediumItalic.ttf") format("truetype");
}

html,
body,
#root,
#root > div {
  height: 100%;
}

:root {
  --tglbg-light: white;
  --tglbg-dark: #1a202c; /* dark-900 equivalent */
}
